<div class="form_holder">
  <h1 class="title"> New Deck </h1>
  <%= form_for(@deck) do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :description %>
    <%= f.text_area :description, rows: 8 %>

    <%= f.submit "Create Deck", class: "create_deck_button" %>
  <% end %>
</div>
